{% extends 'base.html.twig' %}

{% block title %}New Order!{% endblock %}

{% macro renderFormField(field, class) %}
    <div class="form-group {{ class }}">

    </div>
{% endmacro %}

{% block body %}

    <div class="container-fluid mt-4">
    <div class="row">
    <aside class="col-xs-12 col-lg-3">
        <div class="component-light product-show p-3 mb-5">
            <h5 class="text-center">Featured Product!</h5>
            <a href="{{ path('app_product', { id: featuredProduct.id }) }}">
                <img
                        alt="{{ featuredProduct.name }}"
                        src="{{ asset('/uploads/products/'~featuredProduct.imageFile) }}"
                        class="d-block"
                >
            </a>
            <div class="pt-3">
                <h6>
                    {{ featuredProduct.name }}

                    {{ featuredProduct.priceString|format_currency('USD') }}
                </h6>
            </div>
        </div>
    </aside>

    <div class="col-xs-12 col-lg-9 cart">
            <h1>Checkout</h1>
        <div class="component-light p-3">
            {{ form_start(form, {attr:{
                'novalidate': true,
                'class': form.vars['submitted']?'was-validated':''
            }}) }}
            <div class="form-row">
                {{ form_row(form.customerName, {
                    row_attr: { class: 'col' }
                }) }}
                {{ form_row(form.customerEmail, {
                    row_attr: { class: 'col' }
                }) }}

            </div>

            {{ form_row(form.customerMobile) }}

            <div class="form-row justify-content-end align-items-center">
                <div class="col-auto">
                    <button type="submit" class="btn btn-info btn-lg" formnovalidate>
                        Order!
                    </button>
                </div>
            </div>
        {{ form_end(form) }}

        <div>
            <a href="{{ path('app_products') }}" class="btn btn-primary">
                &lt;&lt; Go Back
            </a>
        </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}